---
import { Image } from "astro:assets";
import Sparkles from "./Sparkles";
import ExternalArrow from "@/icons/ExternalArrow";
import Github from "@/icons/Github";

interface Props {
  name: string;
  image: ImageMetadata;
  description: string;
  tags: string[];
  githubUrl: string;
  previewUrl: string;
}

const { name, image, description, tags, githubUrl, previewUrl } = Astro.props;
---

<div class="bg-card grid h-full rounded p-4">
  <Image
    src={image}
    alt={name}
    width={1897}
    height={1198}
    class="aspect-video w-full rounded object-cover object-top"
  />
  <Sparkles className="mt-6 w-fit" client:idle>
    <h3 class="line-clamp-[2]">{name}</h3>
  </Sparkles>

  <p class="mt-2 mb-6 line-clamp-4">{description}</p>

  <div class="flex flex-wrap gap-x-4 gap-y-2 border-b border-slate-700 pb-4">
    {tags.map((tag) => <span class="text-primary text-base">{tag}</span>)}
  </div>

  <div class="mt-4 flex justify-end gap-6">
    <a href={githubUrl} target="_blank" rel="noreferrer" title="View on GitHub">
      <Github className="hover:text-primary size-6 transition-colors" />
      <span class="sr-only">View on GitHub</span>
    </a>
    <a href={previewUrl} target="_blank" rel="noreferrer" title="View Preview">
      <ExternalArrow className="hover:text-primary size-6 transition-colors" />
      <span class="sr-only">View Preview</span>
    </a>
  </div>
</div>
